/********** Base styles **********/
* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}

section {
	position: relative;
	margin: 0px;
	padding: 30px 20px 0px 20px;
	background-color: darkgray;
	border: 1px solid black;
	height: 100%;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	position: absolute;
	top: -1px;
	right: -1px;
	margin: 0px;
	width: 7em;
	border: 1px solid black;
}

#chicken-title {
	background-color: #d59898;
	color: black;
}

#beef-title {
	background-color: #c14543;
	color: white;
}

#sushi-title {
	background-color: #e5d198;
	color: black;
}

/* Simple Responsive Framework. */
.row {
	width: 100%;
	display: flex;
	align-items: strech;
	flex-wrap: wrap;
}

.row > div {
	padding: 20px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33%;
	}
	.col-lg-5 {
		width: 41.66%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 74.99%;
	}
	.col-lg-10 {
		width: 83.33%;
	}
	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 74.99%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 100%;
	}
}

